In [11]:
from model import AdaptationModel
from mesa.batchrunner import batch_run
import pandas as pd

m1 = AdaptationModel(number_of_households=25, number_of_steps= 80, flood_map_choice="harvey", network="watts_strogatz")
m1.model_run()
m1.datacollector.get_model_vars_dataframe()

,TotalAdaptedHouseholds,TotalActualDamage,TotalExpectedDamage,TotalAdaptationCosts,TotalCostsOfSubsidies,DamageToIncomeGiniCoefficient
0,0,0.000000e+00,1.665444e+06,0,0,0.000000
1,9,0.000000e+00,1.411797e+06,10610,0,0.000000
2,15,0.000000e+00,1.352236e+06,15975,0,0.000000
3,15,0.000000e+00,1.352236e+06,15975,0,0.000000
4,19,0.000000e+00,1.320141e+06,18745,0,0.000000
5,19,0.000000e+00,1.320141e+06,18745,0,0.000000
6,19,0.000000e+00,1.320141e+06,18745,0,0.000000
7,19,0.000000e+00,1.320141e+06,18745,0,0.000000
8,19,0.000000e+00,1.320141e+06,18745,0,0.000000
9,19,0.000000e+00,1.320141e+06,18745,0,0.000000
10,19,0.000000e+00,1.320141e+06,18745,0,0.000000
11,19,0.000000e+00,1.320141e+06,18745,0,0.000000
12,19,0.000000e+00,1.320141e+06,18745,0,0.000000
13,19,0.000000e+00,1.320141e+06,18745,0,0.000000
14,19,0.000000e+00,1.320141e+06,18745,0,0.000000
15,19,0.000000e+00,1.320141e+06,18745,0,0.000000
16,19,0.000000e+00,1.320141e+06,18745,0,0.000000
17,19,0.000000e+00,1.320141e+06,18745,0,0.000000
18,19,0.000000e+00,1.320141e+06,18745,0,0.000000
19,19,0.000000e+00,1.320141e+06,18745,0,0.000000
20,19,0.000000e+00,1.320141e+06,18745,0,0.000000
21,19,0.000000e+00,1.320141e+06,18745,0,0.000000
22,19,0.000000e+00,1.320141e+06,18745,0,0.000000
23,19,0.000000e+00,1.320141e+06,18745,0,0.000000
24,19,0.000000e+00,1.320141e+06,18745,0,0.000000
25,19,0.000000e+00,1.320141e+06,18745,0,0.000000
26,19,0.000000e+00,1.320141e+06,18745,0,0.000000
27,19,0.000000e+00,1.320141e+06,18745,0,0.000000
28,19,0.000000e+00,1.320141e+06,18745,0,0.000000
29,19,0.000000e+00,1.320141e+06,18745,0,0.000000
30,19,0.000000e+00,1.320141e+06,18745,0,0.000000
31,19,1.258024e+06,1.320141e+06,18745,0,0.468706

In [2]:
m2 = AdaptationModel(number_of_households=25, number_of_steps= 80, subsidies_package = 3, flood_map_choice="harvey", network="watts_strogatz")
m2.model_run()

In [3]:
h2 = m2.all_households[3]
print(h2.cost_of_adaptation, h2.subsidies_received)
print(h2.adaptation_measures, h2.optimal_measure, h2.housesize)

31200 90480
{'Sandbags': [0.2, 2], 'Drains': [0.7, 15], 'Heightening': [2.5, 150]} Heightening_8 208

In [4]:
"erdos_renyi", "barabasi_albert", "watts_strogatz", or "no_network"

SyntaxError: invalid syntax (1397681522.py, line 1)

In [ ]:
#Sensitivity analysis: 100 runs of each flood_map, the rest of the parameters stay the same
model_params = {
    "number_of_households": 10,
    "number_of_steps": 80,
    "flood_map_choice": ["harvey", "100yr", "500yr"],
    "network": "watts_strogatz"
}

results = batch_run(
    model_cls=AdaptationModel,
    parameters=model_params,
    number_processes=None,  # Set to None if you want to use all CPUs
    iterations=100,  # Number of iterations for each parameter combination
    data_collection_period=-1,  # Collect data at the end of each run
    max_steps=model_params["number_of_steps"],  # Maximum number of model steps
    display_progress=True  # Display progress bar
)

df = pd.DataFrame(results)
# Access the data
#run_data = batch_run.get_agent_vars_dataframe()

In [ ]:
df

In [ ]:
three_different_floodmaps_100_iterations = df

In [ ]:
sorted = three_different_floodmaps_100_iterations.sort_values(by='iteration')
sorted